{% extends "users/layout.html" %}

{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Autobiography</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Здравствуйте, меня зовут Роман Игоревич Родионов, являюсь студентом первого курса факультета компьютерных наук на направлении "Информационные системы и технологии". Родился и вырос в Липецкой области, там же закончил и школу. Увлекаюсь программированием и спортом. В прошлом году был чемпионом Липецкой области по баскетболу среди школьников</p>
    </div>
    <img class="d-block mx-auto mb-4" src="../../static/users/images/photo.jpg" alt="" width="270" height="405">
</div>
{% endblock %}